@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body{
    background-color: hsl(210, 36%, 96%);
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#count{
    margin-right: 7px;
}