@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body{
    background-color: hsl(210, 36%, 96%);
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}